.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(53, 55, 148, 0.596);
    width: 21cm;
    height: 32.8cm;
}
.content {
    display: block;
    padding: 12px;
}